# proxmox backup repo string user@realm!tokenname@server:port:datastore
export PBS_REPOSITORY="user@pbs!tokenname@10.0.0.1:8007:datastore1"
# proxmox API token
export PBS_PASSWORD=""
# proxmox backup server fingerprint
export PBS_FINGERPRINT=""

# inlcude Mountpoints
INCLUDE="--include-dev /etc/pve"

# folders to backup, space separated
SOURCEDIRS="root.pxar:/"

# encryption keyfile
ENCRYPTION="/root/backup.key"

# restore folder
RESTOREFOLDER="/tmp"
